<section class="p-1" xmlns="http://www.w3.org/1999/html">
  <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
      <div class="w-full md:w-1/2">
        <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]"
               fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium">Informations</span>
            <ul class="mt-1.5 list-disc list-inside">
              <li>Les alertes ici sont détectées par un modèle d'intelligence artificielle à vérifier avant de
                valider.
              </li>
            </ul>
          </div>
        </div>
        <button
          class="py-2.5 px-5 me-2 mb-2 font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 inline-flex items-center"
          disabled
          type="button">
          <svg aria-hidden="true" class="inline w-4 h-4 me-3 text-gray-200 animate-spin" fill="none"
               role="status" viewBox="0 0 100 101" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"/>
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="#1C64F2"/>
          </svg>
          <div class="text-gray-700">
            <span>Total des Alertes: {{ totalAlerts }}</span>
            <span class="ml-6 text-green-500">Normales: {{ normalCount }}</span>
            <span class="ml-6 text-red-500">Frauduleuses: {{ fraudulentCount }}</span>
            <span class="ml-6 text-yellow-500">En Analyse: {{ analysingCount }}</span>
          </div>
        </button>
        <hr class="my-2">
        <form class="flex items-center mt-3 space-x-3">
          <label class="sr-only" for="search">Recherche</label>
          <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
              <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                      fill-rule="evenodd"/>
              </svg>
            </div>
            <input (ngModelChange)="filterAlerts()" [(ngModel)]="searchTerm"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2"
                   id="search" name="search"
                   placeholder="Recherche"
                   required type="text">
          </div>
        </form>
      </div>
      <div
        class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
        <input (ngModelChange)="filterAlerts()" [(ngModel)]="fromTime"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2"
               id="fromTime"
               name="fromTime"
               placeholder="De"
               type="datetime-local">
        <input (ngModelChange)="filterAlerts()" [(ngModel)]="toTime"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2"
               id="toTime" name="toTime"
               placeholder="À"
               type="datetime-local">
        <button (click)="exportAlerts()"
                class="flex items-center justify-center flex-shrink-0 px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
                type="button">
          <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="none" stroke="currentColor"
               stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5"
              stroke-linecap="round"
              stroke-linejoin="round"/>
          </svg>
          Exporter
        </button>
      </div>
    </div>

    <hr class="my-3">
    <div class="flex m-4">
      <div class="flex items-center me-4">
        <input (change)="filterAlerts()" [(ngModel)]="statusFilter"
               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" id="status-radio-all"
               name="status-radio-group"
               type="radio"
               value="">
        <label class="ms-2 text-sm font-medium text-gray-900" for="status-radio-all">Tous</label>
      </div>
      <div class="flex items-center me-4">
        <input (change)="filterAlerts()" [(ngModel)]="statusFilter"
               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" id="status-radio-normal"
               name="status-radio-group" type="radio"
               value="NORMAL">
        <label class="ms-2 text-sm font-medium text-gray-900" for="status-radio-normal">Normales</label>
      </div>
      <div class="flex items-center me-4">
        <input (change)="filterAlerts()" [(ngModel)]="statusFilter"
               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
               id="status-radio-fraudulent"
               name="status-radio-group" type="radio"
               value="FRAUDULENT">
        <label class="ms-2 text-sm font-medium text-gray-900" for="status-radio-fraudulent">Frauduleuses</label>
      </div>
      <div class="flex items-center me-4">
        <input (change)="filterAlerts()" [(ngModel)]="statusFilter"
               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500"
               id="status-radio-analysing"
               name="status-radio-group" type="radio"
               value="ANALYZING">
        <label class="ms-2 text-sm font-medium text-gray-900" for="status-radio-analysing">En Analyse</label>
      </div>
    </div>
    <hr>
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th class="px-3 py-2 cursor-pointer" scope="col">ID d'Alerte</th>
          <th class="px-3 py-2" scope="col">ID de Transaction</th>
          <th class="px-3 text-center py-2" scope="col">Date de l'Alerte</th>
          <th class="px-3 text-center py-2" scope="col">Nom de Compte</th>
          <th class="px-3 text-center py-2" scope="col">Montant de Transaction</th>
          <th class="px-3 text-center py-2" scope="col">Statut</th>
          <th class="px-3 py-2" scope="col">Commentaires</th>
          <th class="px-3 text-center py-2" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let alert of paginatedAlerts()" class="border-b hover:bg-gray-100">
          <td class="px-3 py-3 text-xs">{{ alert.alertId }}</td>
          <td class="px-3 py-3 text-xs">{{ alert.transactionId }}</td>
          <td class="px-3 py-3 text-center">{{ formatDate(alert.alertDate) }}</td>
          <td class="px-3 py-3 text-center">{{ transactions[alert.transactionId].userAccount.accountName }}</td>
          <td class="px-3 py-3 text-center"><span
            class="text-xs font-medium px-2 py-0.5 rounded bg-gray-200">{{ transactions[alert.transactionId].amount | currency:' د.م ' }}</span>
          </td>
          <td class="px-3 py-3 text-center">
        <span [ngClass]="{
          'bg-green-100 text-green-800': alert.status === 'NORMAL',
          'bg-red-100 text-red-800': alert.status === 'FRAUDULENT',
          'bg-yellow-100 text-yellow-800': alert.status === 'ANALYZING'
        }" class="text-xs font-medium px-2 py-0.5 rounded">
          {{ alert.status }}
        </span>
          </td>
          <td class="px-4 py-3">{{ alert.comments }}</td>
          <td class="px-4 py-3 text-center">
            <button (click)="openUpdateModal(alert)" class="text-blue-600 hover:text-blue-800" type="button">
              <svg aria-hidden="true" class="w-6 h-6 mx-auto text-gray-800" fill="none" height="24" viewBox="0 0 24 24"
                   width="24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M20 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6h-2m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4"
                  stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
              </svg>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <nav aria-label="Pagination" class="flex flex-col items-center justify-between space-y-3 p-4">
        <span class="text-sm text-gray-700">
          Affichage de <span
          class="font-semibold text-gray-900">{{ (currentPage - 1) * itemsPerPage + 1 }}</span> à <span
          class="font-semibold text-gray-900">{{ currentPage * itemsPerPage > filteredAlerts.length ? filteredAlerts.length : currentPage * itemsPerPage }}</span> de <span
          class="font-semibold text-gray-900">{{ filteredAlerts.length }}</span> Entrées
        </span>
      <div class="inline-flex mt-2 xs:mt-0">
        <button (click)="previousPage()"
                class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900">
          <svg aria-hidden="true" class="w-3.5 h-3.5 me-2" fill="none" viewBox="0 0 14 10"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M13 5H1m0 0 4 4M1 5l4-4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
          Précédent
        </button>
        <button (click)="nextPage()"
                class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900">
          Suivant
          <svg aria-hidden="true" class="w-3.5 h-3.5 ms-2" fill="none" viewBox="0 0 14 10"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M1 5h12m0 0L9 1m4 4L9 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="2"/>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</section>

<!-- Modal -->
<div aria-hidden="true" class="fixed inset-0 z-50 flex items-center justify-center w-full p-4 overflow-x-hidden overflow-y-auto bg-black bg-opacity-50 hidden" id="updateModal" tabindex="-1">
  <div class="relative w-full max-w-2xl">
    <div class="relative bg-white rounded-lg shadow-lg">
      <div class="flex items-start justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          Analyse d'alerte de transaction
        </h3>
        <button (click)="closeUpdateModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" type="button">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" fill-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Fermer</span>
        </button>
      </div>
      <div class="p-6 space-y-6">
        <div class="flex p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
          <svg aria-hidden="true" class="flex-shrink-0 inline w-4 h-4 mr-3 mt-[2px]" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <div>
            <span class="font-medium">Informations sur le compte {{ selectedTransaction.userAccount.accountName }}</span>
            <ul class="mt-1.5 list-disc list-inside">
              <li>Compte ID : <span class="font-medium"> {{ selectedTransaction.userAccount.accountId }}</span></li>
              <li>Date de Création : <span class="font-medium">{{ formatDateS(selectedTransaction.userAccount.creationDate) }}</span></li>
              <li>Âge du Compte : <span class="font-medium">{{ selectedTransaction.userAccount.accountAge }} Mois</span></li>
              <li>Type de Compte : <span class="font-medium"> {{ selectedTransaction.userAccount.accountType }}</span></li>
              <li>Balance Actuelle : <span class="font-medium"> {{ selectedTransaction.userAccount.balance | currency:' د.م ' }}</span></li>
              <li>Fréquence de Transaction : <span class="font-medium"> {{ selectedTransaction.userAccount.transactionFrequency }}</span></li>
            </ul>
          </div>
        </div>
        <form>
          <div class="grid gap-4 mb-2 sm:grid-cols-2">
            <div class="p-3 mb-4 text-sm text-red-800 rounded-lg bg-red-50">
                <span class="font-medium">Informations sur l'alerte</span>
                <ul class="mt-1.5 list-disc list-inside">
                  <li>Alerte ID : <span class="font-medium text-xs">{{ selectedAlert.alertId }}</span></li>
                  <li>Transaction ID : <span class="font-medium text-xs">{{ selectedAlert.transactionId }}</span></li>
                  <li>Date d'Alerte : <span class="font-medium">{{ formatDate(selectedAlert.alertDate) }}</span></li>
                </ul>
            </div>
            <div class="p-3 mb-2 text-sm text-gray-800 rounded-lg bg-gray-50">
              <h4 class="text-sm font-medium text-gray-900 mb-2">Informations sur la transaction</h4>
              <ul class="mt-1.5 list-disc list-inside">                <li>Montant de la Transaction : <span class="font-medium">{{ selectedTransaction.amount | currency:' د.م ' }}</span></li>
                <li>Date de Transaction : <span class="font-medium">{{ formatDate(selectedTransaction.date) }}</span></li>
                <li>Type de Transaction :
                  <span [ngClass]="{
                    'bg-green-100 text-green-800': selectedTransaction.transactionType === 'DEPOSIT',
                    'bg-blue-100 text-blue-800': selectedTransaction.transactionType === 'TRANSFER',
                    'bg-yellow-100 text-yellow-800': selectedTransaction.transactionType === 'WITHDRAWAL'
                  }" class="text-xs font-medium px-2 py-0.5 rounded">
                    {{ selectedTransaction.transactionType }}
                  </span>
                </li>
                <li>Location : <span class="font-medium">{{ selectedTransaction.location }}</span></li>
              </ul>
            </div>

              <div class="flex items-center col-span-2 text-center">
                <span class="bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
                  <span class="inline-flex items-center justify-center w-6 h-6 mr-2 text-sm font-semibold text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">
                    <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917L5.724 10.5 15 1.5" />
                    </svg>
                  </span>
                  Le modèle d'apprentissage automatique a classifié cette transaction comme :
                  <span [ngClass]="{
                    'bg-green-100 text-green-800': selectedAlert.status === 'NORMAL',
                    'bg-red-100 text-red-800': selectedAlert.status === 'FRAUDULENT',
                    'bg-yellow-100 text-yellow-800': selectedAlert.status === 'ANALYZING'
                  }" class="text-xs font-medium px-2 py-0.5 rounded ml-2">
                    {{ selectedAlert.status }}
                  </span>
                </span>
            </div>

            <div class="border-2 border-gray-200 border-dashed rounded-lg p-3 text-gray-800 col-span-2">

              <div class="col-span-2">
              <label class="block mb-2 text-sm font-medium text-gray-900" for="status">Statut</label>
              <select [(ngModel)]="selectedAlert.status" [ngModelOptions]="{standalone: true}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" id="status" name="status">
                <option value="NORMAL">Normal</option>
                <option value="FRAUDULENT">Frauduleuse</option>
                <option value="ANALYZING">En Analyse</option>
              </select>
            </div>
            <div class="col-span-2 mt-4">
              <label class="block mb-2 text-sm font-medium text-gray-900" for="comments">Commentaires</label>
              <textarea [(ngModel)]="selectedAlert.comments" [ngModelOptions]="{standalone: true}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" id="comments" name="comments" rows="5"></textarea>
            </div>
          </div>
          </div>

          <div class="flex items-center justify-end space-x-4">
            <button (click)="updateAlert()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">
              Confirmer l'analyse de la transaction
              <svg aria-hidden="true" class="ml-1 w-5 h-5 text-white" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
              </svg>
            </button>
            <button (click)="closeUpdateModal()" class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:ring-4 focus:ring-gray-100">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


