<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 - 2025 <a class="hover:underline">Chaabi Secure™</a>. Tous droits réservés.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a class="hover:underline me-4 md:me-6 cursor-pointer">À propos</a>
      </li>
      <li>
        <a class="hover:underline me-4 md:me-6 cursor-pointer">Politique de confidentialité</a>
      </li>
      <li>
        <a class="hover:underline me-4 md:me-6 cursor-pointer">Licence</a>
      </li>
      <li>
        <a class="hover:underline cursor-pointer">Contact</a>
      </li>
    </ul>
  </div>
</footer>
